{% extends 'base.html' %}

{% block title %}add item{% endblock %}

{% block content %}
<form enctype="multipart/form-data" action="{% url 'additem' %}" method="POST">
    {% csrf_token %}
    {{form}}
    <button type="submit">send</button>
</form>
{% endblock content %} 
<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form enctype="multipart/form-data" action="{% url 'additem' %}" method="POST">
        {% csrf_token %}
        {{form}}
        <button type="submit">send</button>
    </form>
</body>
</html>