{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<h1>{{user.username}}</h1>
{% endif %}


    
  
    <div class="row row-cols-auto postblogs">
        {% for post in blogpost %}
        <div class="col">
        <div class="card" style="width: 18rem;">
           <img src="{{post.image.url}}" class="card-img-top" alt="...">
           <div class="card-body">
             <h5 class="card-title">{{post.title}}</h5>
             <p class="card-text">{{post.getsnippet}}</p>
             <a href="{% url 'detail' post.id %" class="btn btn-primary">detail</a>
           </div>
         </div>
        </div>
{% endfor %}
    </div>


 <ul>

</ul>

<a href="additem">add item</a>

{% if user.is_authenticated %}

<form action="{% url 'accounts:logout' %}" method="POST">
 {% csrf_token %}
 <button type="submit">logout</button>
</form>

{% endif %}

<!--{# this is for static loader#}-->
{% comment %}
jgfh
hgk
ghg
{% endcomment %}

{%load static%}
<!--<script src="{% static 'testapp/app.js' %}"></script>-->
{% endblock content %}


<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'testapp/style.css' %}">
</head>
<body>

</body>
</html>